#!/usr/bin/env bash
export HOURS_RETAINED=24
export DAYS_RETAINED=14
export WEEKS_RETAINED=12
export DAILY_HOUR=0
export WEEKLY_DAY=1
export MONTHLY_DATE=1
export BUCKET_NAME="MY_BUCKET"
export KEY_PREFIX="PREFIX-FOR-S3-keys" # THIS SHOULD NOT INCLUDE ANY UNDERSCORES
export BACKUP_COMMAND="pg_dump --file=\$DUMP_FILE_NAME"
